.home-main {
  height: 98vh;
  width: 100vw;
  overflow-y: hidden;
}

.home-container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 100px);

  @media (min-width: 1023px) {
    margin-left: 8%;
    margin-top: 40px;
    min-height: calc(100vh - 100px);
  }

  .tags-top, .tags-bottom {
    color: #ffd700; // green
    opacity: 0.9;
    bottom: 0;
    font-size: 18px;
    margin-left: 30px;
    font-family: "La Belle Aurore", cursive;
  }
  .tags-bottom {
    margin-left: 10px;
  }

  .text-content {
    width: 80%;
    margin-left: 15%;
    @media (min-width: 1023px) {
      margin-left: 25%;
    }
    h1 {
      color: #fff;
      font-size: 18px;
      line-height: 45px;
      margin: 0;
      position: relative;
      font-family: "Coolvetica";
      font-weight: 400;
      @media (min-width: 340px) {
        font-size: 28px;
      }
      @media (min-width: 400px) {
        font-size: 34px;
      }
      @media (min-width: 768px) {
        font-size: 46px;
      }
      @media (min-width: 1023px) {
        color: #fff;
        font-size: 56px;
        line-height: 63px;
        margin: 0;
        position: relative;
        font-family: "Coolvetica";
        font-weight: 400;
      }

      &:before {
        content: "<h1>";
        font-family: "La Belle Aurore", cursive;
        color: #ffd700;
        font-size: 18px;
        position: absolute;
        margin-top: -40px;
        animation: fadeIn 1s 1.7s backwards;
        left: -15px;
        opacity: 0.9;
      }

      &:after {
        content: "<h1/>";
        font-family: "La Belle Aurore", cursive;
        color: #ffd700;
        font-size: 18px;
        position: absolute;
        margin-top: 18px;
        margin-left: 20px;
        animation: fadeIn 1s 1.7s backwards;
        opacity: 0.9;
      }
    }

    h2 {
      color: #8d8d8d;
      margin-top: 20px;
      font-weight: 400;
      font-size: 11px;
      font-family: sans-serif;
      letter-spacing: 3px;
      animation: fadeIn 1s 1.8s backwards;
    }

    .flat-button {
      color: #ffd700;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 4px;
      font-family: sans-serif;
      text-decoration: none;
      padding: 10px 18px;
      border: 1px solid #ffd700;
      margin-top: 25px;
      float: left;
      cursor: pointer;
      animation: fadeIn 1s 1.8s backwards;
      white-space: nowrap;
      border-radius: 0.5rem;
      max-width: 150px;
      text-align: center;
      z-index: 2;

      &:hover {
        background: #ffd700;
        color: rgb(0, 0, 0);
      }
    }
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
